.header-container{
    background-color: var(--bg);
    color: var(--text-color);
    border-bottom: 2px solid var(--border-color);
}

.header-text{
    font-weight: 600;
}
.header-nav:hover{
    border-bottom: 2px solid #b2b2b2;
}
.mode-button{
    padding: 8px 15px;
    background-color: var(--toggle-btn);
}
.mode-button:hover{
    background-color: var(--toggle-hover)
}
.pfp{
    background-image: url("/defaultpfp.jpeg");
}